* {
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: fixed;
}

.small-container {
  background-color: #e8e8e8;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  padding: 0.4em;
}

td {
  padding-left: 0.3em;
}

ul {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
